*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eac285;
}
.container {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 0 20px 45px rgba(120, 76, 10, 0.25);
}
.cake {
  width: 100%;
  position: absolute;
  bottom: 60px;
}
.bottom-layer,
.top-layer,
.middle-layer {
  height: 80px;
  width: 240px;
  position: relative;
  margin: auto;
  background-repeat: repeat;
  background-size: 100% 100%, 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      #e3a953 50px,
      #e3a953 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #713e16 30px, #eac284 31px);
}
.middle-layer {
  transform: scale(0.85);
  top: 72px;
  animation: rise-1 2s forwards;
}
@keyframes rise-1 {
  100% {
    top: 7px;
  }
}
.top-layer {
  transform: scale(0.7);
  top: 144px;
  animation: rise-2 2s 2s forwards;
}
@keyframes rise-2 {
  100% {
    top: 26px;
  }
}
.candle {
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
  );
  height: 45px;
  width: 15px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  animation: rise-3 1s 4s forwards;
}
@keyframes rise-3 {
  100% {
    bottom: 202px;
  }
}
.candle:after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffee54;
  border-radius: 0 50% 50% 50%;
  transform: scale(0) rotate(45deg);
  bottom: 50px;
  left: -0.5px;
  animation: flame 1.5s 5s forwards;
}
@keyframes flame {
  100% {
    transform: scale(1) rotate(45deg);
  }
}

.text-container {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	animation: textAnim 1s ease-in-out forwards;
	animation-delay: 3.5s;
    
}
.text{
    font-size: 40px;
	color: #4632b6;
	text-shadow: 0px 0px 10px #6d0c0c;
    margin-top: 200px;
}

@keyframes textAnim {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 0;
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

#fireworks {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
}

.firework {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: explodeAnim 2s ease-in-out infinite;
    }
    
    @keyframes explodeAnim {
    0% {
    transform: scale(1);
    opacity: 1;
    }
    100% {
    transform: scale(20);
    opacity: 0;
    }
    }
    
    .firework--1 {
    top: 20%;
    left: 10%;
    background-color: #ff0000;
    }
    
    .firework--2 {
    top: 10%;
    left: 40%;
    background-color: #00ff00;
    }
    
    .firework--3 {
    top: 30%;
    left: 60%;
    background-color: #0000ff;
    }
    
    .firework--4 {
    top: 50%;
    left: 20%;
    background-color: #ffff00;
    }
    
    .firework--5 {
    top: 70%;
    left: 80%;
    background-color: #ff00ff;
    }
    
    .firework--6 {
    top: 80%;
    left: 30%;
    background-color: #00ffff;
    }
    
    .firework--7 {
    top: 40%;
    left: 80%;
    background-color: #ffa500;
    }
    
    .firework--8 {
    top: 60%;
    left: 50%;
    background-color: #800080;
    }
    
    .firework--9 {
    top: 15%;
    left: 70%;
    background-color: #008080;
    }
    
    .firework--10 {
    top: 70%;
    left: 40%;
    background-color: #800000;
    }

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .container {
    max-width: 500px;
    }
    
    .text {
    font-size: 12px;
    }
    }
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
    .container {
    max-width: 700px;
    }
    
    .text {
    font-size: 16px;
    }
    }
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
    .container {
    max-width: 900px;
    }
    
    .text {
    font-size: 20px;
    }
    }